.link{
  text-decoration: underline;
  cursor: pointer;
  text-transform : capitalize;
}

span.space{
  padding-right : 2px;
}

div.gap{
  margin-top :2px;
}

span.ext{
  margin-bottom: auto;
  padding-bottom: 5px;
}

